
@media screen and (min-width: 900px){
    .r{
        background-color: red;
    }
    
    #lineasA{
        position: absolute;
        top: 0;
        height: 8.7vw;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: -1;
    }
    
    .finoA{
        height: 30%;
        width: 100%;
    }
    
    .gruesoA{
        height: 60%;
        width: 100%;
    }
    
    .fino{
        height: 100%;
        width: 30%;
    }
    
    .grueso{
        height: 100%;
        width: 60%;
    }
    
    #lineasD{
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        
        height: 100%;
        width: 8.7vw;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    
    #luna{
        width: 250px;
        height: 250px;
        position: absolute;
        top: 2vh;
        right: 2vw;
        z-index: 1;
    }
}

@media screen and (max-width: 900px){
.r{
    background-color: red;
}

#lineasA{
    position: absolute;
    top: 0;
    
    height: 8.7vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -1;
}

.finoA{
    height: 30%;
    width: 100%;
}

.gruesoA{
    height: 60%;
    width: 100%;
}


.fino{
    height: 100%;
    width: 30%;
}

.grueso{
    height: 100%;
    width: 60%;
}

#lineasD{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    
    height: 100%;
    width: 8.7vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    z-index: -1;
}

#luna{
    width: 150px;
    height: 150px;
    position: absolute;
    top: 10vh;
    right: 2vw;
    z-index: -2;
}
}