@import url('https://fonts.googleapis.com/css2?family=Allan:wght@400;700&display=swap');



body{
    margin: 0;
    background-color: #1c1c1c;
    color: #fff;
    text-align: center;
    font-family: "Allan",Impact, 'Arial Narrow Bold', sans-serif;
}

a{
    text-decoration: none;
    color: #fff;

}


.r{
    background-color: red;
}

.lineasI{
    position: absolute;
    height: 100vh;
    width: 17vh;
    display: flex;
    justify-content: space-between;
}

.fino{
    height: 100%;
    width: 30%;
}

.grueso{
    height: 100%;
    width: 60%;
}

.lineasD{
    position: absolute;
    right: 0;
    height: 100vh;
    width: 17vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.luna{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 2vh;
    right: 2vw;
}

.dirigible{
    position: absolute;
    right: 2vw;
    top: 40vh;
    animation: dirigibleA 60s ease-in-out infinite alternate-reverse 5s ;
    transform: rotate(5deg);


}

@keyframes dirigibleA {
    

    25%{
        right: 30vh;
        top: 53vh;
    }

    50%{
        right: 2vw;
        top: 40vh;
    }

    75%{
        right: 20vh;
        top: 55vh;
    }
    

}


header{
    width: 400px;
    position: absolute;
    top: 6vh;
    left: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1{
    width: 70%;
    height: 54px;
    margin: 0;
    font-size: 4rem;
    transition: .1s ease-in;
}

h1:hover{
    border-bottom: 7px solid red;
}

main{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 25vh;
    left: 10vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.enl {
    font-size: 2.5rem;
    transition: .4s ease;
}

.enl:hover{
    scale: .95;
}

