<footer>
    <main>
        <section class="enlacesF">
            <a href="">Inicio</a>
            <a href="">Administracion</a>
            <a href="">Hangar</a>
        </section>
        <section class="enlacesF">
            <a href="">Iniciar Sesion</a>
            <a href="">Crear Usuario</a>
            <a href="">Recuperar Cuenta</a>
        </section>
    </main>
    <aside>
        <a href="https://github.com/agusSantos23"><img src="../svg/github.svg" alt="github"></a>
        <a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_nav-header-signin"><img src="../svg/linke.svg" alt="linkeding"></a>
        <a href="https://agussantos.es/"><img src="../svg/hand.svg" alt="contacto"></a>

    </aside>
    <h4 class="copy">&copy;Agustin Prieto Atienza</h4>
</footer>