<footer>
    <main>
        <section class="enlacesF">
            <a href="../index.php">Inicio</a>
            <a href="../cuerpos/iniciarSAF.php">Administracion</a>
            <a href="../cuerpos/hangarU.php">Hangar</a>
        </section>
        <section class="enlacesF">
            <a href="../cuerpos/iniciarSUF.php">Iniciar Sesion</a>
            <a href="../cuerpos/crearUF.php">Crear Usuario</a>
            <a href="../cuerpos/recuperarU.php">Recuperar Cuenta</a>
        </section>
    </main>
    <aside>
        <a href="https://github.com/agusSantos23" target="_blank"><img src="../svg/github.svg" alt="github"></a>
        <a href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_nav-header-signin" target="_blank"><img src="../svg/linke.svg" alt="linkeding"></a>
        <a href="https://agussantos.es/" target="_blank"><img src="../svg/hand.svg" alt="contacto"></a>

    </aside>
    <h4 class="copy">&copy;Agustin Prieto Atienza</h4>
</footer>