<footer>
    <main>
        <section class="enlacesF">
            <a href="">Inicio</a>
            <a href="">Administracion</a>
            <a href="">Hangar</a>
        </section>
        <section class="enlacesF">
            <a href="">Iniciar Sesion</a>
            <a href="">Crear Usuario</a>
            <a href="">Recuperar Cuenta</a>
        </section>
    </main>
    <aside>
        <a href=""><img src="../svg/github.svg" alt="github"></a>
        <a href=""><img src="../svg/mail.svg" alt="gmail"></a>
        <a href=""><img src="../svg/linke.svg" alt="linkeding"></a>
    </aside>
    <h4 class="copy">&copy;Agustin Prieto Atienza</h4>
</footer>